.chat {
	height: 50vh;
	overflow: scroll;
	margin: 1vh 0;
	border: 1px solid #ececec;
	padding: 1vw;
}

.clearfix {
	clear: both;
}

	.chat__message {
		width: 80%;
		margin-right: 19%;
		line-height: normal;
		list-style: none;
	}

		.chat__message .from {
			font-size: 1.2rem;
		}

		.chat__message blockquote {
			border-left: 0.3rem solid #d1d1d1;
			margin-left: 3rem;
			margin-right: 0;
			padding: 0 1.5rem;
			margin-bottom: 0;
			margin-top: 0.5rem;
			font-size: 1.8rem;
		}

	.chat__message_my {
		width: 80%;
		margin-left: 19%;
	}

		.chat__message_my .from {
			float: right;
		}

	.chat__input {
		font-size: 24px;
	}
